{
  "name": "powerkernel/core",
  "description": "Core API System",
  "keywords": [
    "yii2",
    "api",
    "core"
  ],
  "homepage": "https://powerkernel.com",
  "type": "project",
  "license": "MIT License",
  "authors": [
    {
      "name": "Harry Tang",
      "email": "harry@powerkernel.com"
    }
  ],
  "minimum-stability": "dev",
  "prefer-stable": true,
  "require": {
    "php": ">=7.1.0",
    "yiisoft/yii2": "2.1.x-dev",
    "yiisoft/yii2-swiftmailer": "2.2.x-dev",
    "yiisoft/yii2-rest": "@dev",
    "yiisoft/yii2-mongodb": "2.2.x-dev",
    "yiisoft/yii2-httpclient": "2.1.x-dev",

    "powerkernel/yii-common": "@dev",
    "powerkernel/yii-core-api": "@dev",
    "powerkernel/yii-aws-sns": "@dev"
  },
  "require-dev": {
    "yiisoft/yii2-debug": "2.1.x-dev",
    "yiisoft/yii2-gii": "2.1.x-dev",
    "yiisoft/yii2-faker": "2.1.x-dev",
    "phpunit/phpunit": "~7.0.2"
  },
  "repositories": [
    {
      "type": "composer",
      "url": "https://asset-packagist.org"
    },
    {
      "type": "git",
      "url": "git@bitbucket.org:powerkernel/yii-core-api.git"
    },
    {
      "type": "git",
      "url": "git@bitbucket.org:powerkernel/yii-common.git"
    }
  ],
  "autoload": {
    "psr-4": {
      "web\\": "src/web",
      "api\\": "src/api",
      "console\\": "src/console"
    }
  },
  "autoload-dev": {
    "psr-4": {
      "tests\\": "tests"
    }
  },
  "config": {
    "process-timeout": 1800
  }
}
