<?php
/**
 * @author Harry Tang <harry@powerkernel.com>
 * @link https://powerkernel.com
 * @copyright Copyright (c) 2018 Power Kernel
 */

return [
    'db' => [
        'dsn' => 'mongodb://',
        'options' => [
            'username' => '',
            'password' => '',
            'ssl' => true,
            'replicaSet' => 'us-cluster-shard-0',
            'authSource' => 'admin'
        ]
    ],
    'mailer' => [
        'useFileTransport' => true,
        'transport' => [
            'host' => 'smtp.gmail.com',
            'username' => '',
            'password' => '',
            'port' => 587,
            'encryption' => 'tls',
        ],
    ],
    'awssns'=>[
        'key'=>'',
        'secret'=>'',
        'region'=>'us-east-1'
    ],
    'cloudinary' => [
        'cloud_name' => 'cloud_name',
        'api_key' => 'api_key',
        'api_secret' => 'api_secret',
        'cdn_subdomain' => true,//optional
        'useSiteDomain' => false,
    ],
    'authClient'=>[
        'google'=>[
            'clientId'=>'',
            'clientSecret'=>''
        ],
        'facebook'=>[
            'clientId'=>'',
            'clientSecret'=>''
        ]
    ]
];